.login-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}
.login-popup-container{
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 10px;
    border-radius: 15px;
    animation: fadeIn 0.5s;
    gap: 10px;
}
.login-popup-title{
    display: flex;
    justify-content: space-between;
}
.login-popup-title h2{
    color: black;
}
.login-popup-title p{
    font-size: 18px;
    color: black;
    cursor: pointer;
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-popup-inputs input{
    outline: none;
    padding: 10px;
    border: 1px solid #c9c9c9;

    border-radius: 15px;

}
.login-popup-container button{
    background-color: tomato;
}
.login-popup-container span{
    font-weight: 700;
    cursor: pointer;
}